<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOIZcIHdTRLrhrv2GStpG3cVlrxKNJyx4</string>
	<key>GCM_SENDER_ID</key>
	<string>689508606161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-project-b1aab</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-b1aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689508606161:ios:0693d113680da74b1fe5f0</string>
</dict>
</plist>